<article class="row justify-content-center align-items-center" itemid="articles for work">
    <div class="col-md-6 col-sm-12 mb-3">
        <h3>Content Title</h3>
        <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, dignissimos molestias porro necessitatibus velit quibusdam saepe blanditiis corporis ipsam delectus doloremque sequi vitae corrupti vel voluptatibus assumenda dolore minus exercitationem?
        </p>
    </div>
    <div class="col-md-6 col-sm-12 mb-3">
        <img src="/assets/devices-image.png" 
            class="img-fluid" 
            alt="Content Title" 
        />
    </div>
</article>
<aside class="row my-5 py-5">
    <div class="col-md-5 mb-3">
        <h4 class="display-2 fw-bold">Why Choose Us?</h4>
    </div>
    <div class="col-md-7 mb-3">
        <p class="tetx-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae voluptas officia illum quisquam illo. Accusamus doloribus ab et, ea vero excepturi, fugiat atque, accusantium doloremque nisi velit similique a rerum.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis atque neque sequi veniam perspiciatis quaerat recusandae expedita a in eius id minima laborum quis voluptatem, corrupti vitae ullam, repellendus cumque.
        </p>
    </div>
</aside>