<header class="home-intro bg-image">
    <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.6)">
        <div class="container">
            <div class="row flex-center justify-content-center align-items-center" style="height: 100vh;">
                <div class="col-md-12 text-center text-white">
                    <h1 class="display-4">Web Express I.T. Agency</h1>
                    <h2 class="mb-2">
                        Security for the web and designing more secure websites.
                    </h2>
                    <a href="#" class="btn btn-primary">learn more</a>
                    <a href="#" class="btn btn-light">our work</a>
                </div>
            </div>
        </div>
    </div>
</header>