<head>
    <meta charset="UTF-8">
    <title><%- locals.title || "Web Express I.T. Agency Home Page" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="express website with node and mongodb">
    <link rel="icon" href="/assets/appLogo.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/appLogo.png">
    <meta property="og:title" content="How to Become an SEO Expert (8 Steps)" />
    <meta property="og:description" content="Get from SEO newbie to SEO pro in 8 simple steps." />
    <meta property="og:image" content="https://ahrefs.com/blog/wp-content/uploads/2019/12/fb-how-to-become-an-seo-expert.png" />
    <!-- Font Awesome -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.min.css"
    rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/index.css">
</head>